{% assign primary_stop_direction = trmnl.plugin_settings.custom_fields_values.primary_stop_direction %}
{% assign secondary_stop_direction = trmnl.plugin_settings.custom_fields_values.secondary_stop_direction %}

{% assign stop_name = IDX_0.data.predictionsData[0].stopName %}
{% assign route_name = IDX_0.data.predictionsData[0].routeName %}

{% assign destinations = IDX_0.data.predictionsData[0].destinations %}

{% assign primary_stop_destinations = destinations | where: "headsign", primary_stop_direction %}
{% assign secondary_stop_destinations = IDX_0.data.predictionsData[0].destinations | where: "headsign", secondary_stop_direction %}

{% assign primary_stop_predictions = primary_stop_destinations[0].predictions %}
{% assign secondary_stop_predictions = secondary_stop_destinations[0].predictions %}

{% assign update_time = trmnl.system.timestamp_utc %}
{% assign localized_update_time = update_time | plus: {{ trmnl.user.utc_offset }} %}
{% assign localized_update_time = update_time | plus: -28800 %}
{% assign update_time_stamp = localized_update_time | date: "%l:%M" %}
{% assign time_of_day = localized_update_time | date: "%p" %}

<style type="text/css">
  .alerts-table {
    max-height: 35%;
  }
</style>

<div class="layout layout--row p--4 gap--xxlarge mb--0" style="position:relative">
  <div class="flex flex--col flex--stretch-x flex--center gap--none stretch" style="position:relative">
    <div class="mb--3">
      <span class="title">{{ route_name }} Schedule</span>
    </div>
    <div class="mb--3">
      <span class="label label--small w--auto">(last updated: {{ update_time_stamp }} {{ time_of_day }})</span>
    </div>
    
    <div class="columns time-table mb--4">
        <div class="column" data-overflow="true">
          <div>
            <span class="label label--small w--auto"><em>to</em></span><br>
            <span class="label label--outline">{{ primary_stop_direction }}</span>
          </div>
        </div>

        <div class="column" data-overflow="true">
          <div>
            <span class="label label--small w--auto"><em>to</em></span><br>
            <span class="label label--outline">{{ secondary_stop_direction }}</span>
          </div>
        </div>
    </div>
    <div class="columns time-table mb--4">
        <div class="column {% if uniqueSituationIds == empty %} gap--medium {% endif %}" data-overflow="true">
          {% render "arrivalTimeSlots", predictions: {{primary_stop_predictions}}, num_trips_to_show: 4,
            timestampSize: "value-small", timeOfDaySize: "value--xxsmall"%}
        </div>

        <div class="column {% if uniqueSituationIds == empty %} gap--medium {% endif %}" data-overflow="true">
          {% render "arrivalTimeSlots", predictions: {{secondary_stop_predictions}}, num_trips_to_show: 4,
            timestampSize: "value-small", timeOfDaySize: "value--xxsmall"%}
        </div>
    </div>
    <!-- 
    {%if uniqueSituationIds != empty%}
    <div class="mb--3">
      <span class="label label--small w--auto label--underline">Alerts</span>
    </div>
    <div class="columns alerts-table">
      <div class="column" data-overflow="true">
      
        {% for situationId in uniqueSituationIds %}
          {% assign situation = situations | where: "id", situationId | first %}
          <div class="item">
            <div class="meta"></div>
            <div class="content">
              <span class="description" data-clamp="2">{{situation.summary.value}}</span>
              <span class="label label--small label--underline">active: {{situation.activeWindows[0].from | divided_by: 1000 | plus: trmnl.user.utc_offset | date: "%D %l:%M %p" }}</span>
            </div>
          </div>
        {% endfor %}
    
      </div>
    </div>
    {% endif %} -->
  </div>
</div>

<div class="title_bar m--0">
  <span class="title">{{ stop_name }}</span>
</div>