 <!-- shared markup -->
{% template arrivalTimeSlots %}
  {% for prediction in predictions limit:num_trips_to_show %}
    {% assign arrival_time = prediction.time %}
    {% assign localized_arrival_time = arrival_time | plus: {{ trmnl.user.utc_offset }} %}
    {% assign localized_arrival_time = arrival_time | plus: -28800 %}
    {% assign arrival_time_stamp = localized_arrival_time | date: "%l:%M" %}
    {% assign time_of_day = localized_arrival_time | date: "%p" %}
    {% if forloop.index == 1 %}
      {% render "arrivalTimeSlot", emphasisValue: 3, textColor: "black", orderText: "arriving", timestampSize: {{timestampSize}},
        timeOfDaySize: {{timeOfDaySize}}, arrivalTimestamp: {{arrival_time_stamp}}, timeOfDay: {{time_of_day}}, labelModifier: "label--inverted" %}
    {% elsif forloop.index == 2 %}
      {% render "arrivalTimeSlot", emphasisValue: 2, textColor: "gray-20", orderText: "next", timestampSize: {{timestampSize}},
        timeOfDaySize: {{timeOfDaySize}}, arrivalTimestamp: {{arrival_time_stamp}}, timeOfDay: {{time_of_day}}, labelModifier: "label--outline" %}
    {% else %}
      {% render "arrivalTimeSlot", emphasisValue: 1, textColor: "gray-40", orderText: "later", timestampSize: {{timestampSize}},
        timeOfDaySize: {{timeOfDaySize}}, arrivalTimestamp: {{arrival_time_stamp}}, timeOfDay: {{time_of_day}}, labelModifier: "" %}
    {% endif %}
  {% else %}
    <div class="item">
      <div class="meta"></div>
      <div class="content text--gray-40">
        <span class="label label--small">no trains currently running</span>
      </div>
    </div>
  {% endfor %}
{% endtemplate %}

{% template arrivalTimeSlot %}
  <div class="item item--emphasis-{{emphasisValue}}">
    <div class="meta"></div>
    <div class="content text--{{textColor}}">
      <!-- <span class="label label--small {{labelModifier}} mb--1">{{orderText}}</span> -->
      <span>
        <span class="value {{timestampSize}} value--tnums">{{arrivalTimestamp}}</span>
        <span class="value {{timeOfDaySize}}">{{timeOfDay}}</span>
      </span>
    </div>
  </div>
{% endtemplate %}
